/* App.css */
body {
  background: linear-gradient(#0d0f1c, #111); /* Vertical gradient from dark color to dark bluish gray */
  color: #fff; /* White text color */
  font-family: Consolas, monospace; /* Use Consolas font */
  background-repeat: no-repeat; /* Do not repeat the background */
  background-attachment:fixed; /* Keep the background fixed */
}

.app {
  padding: 20px;
}
