/* Footer.css */

.footer {
  background: linear-gradient(rgba(10, 12, 16, 0) 0%,  #0a0c10 70%); /* Gradient from transparent to dark */
  color: #fff; /* Keep text color white for contrast */
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container p {
  margin-right: 10px; /* Add spacing between text and icons */
  font-size: calc(12px + 0.02vw); /* Dynamic font size based on viewport width */
}

.social-icons {
  justify-content: center;
  display: flex; /* Apply flexbox layout */
  align-items: center; /* Center align vertically */
}

.social-icons a {
  color: #fff; /* White color for icons */
  font-size: 24px; /* Adjust icon size */
  margin-right: 8px; /* Add spacing between icons */
}
